<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title: "Relatório de alunos"}) %>

<body class="d-flex flex-column min-vh-100">
    <%- include('../partials/navBar') %>
    <main class="flex-grow-1">
        <div class="container-fluid">
            <% if (aluno) { %>
                <div>
                    <h3>Nome: <%= aluno.nome%></h3>
                    <h3>Curso <%= aluno.curso%></h3>
                    <h3>Matrícula: <%= aluno.matricula%></h3>
                </div>
            <% } else { %>
                <h3>Aluno não encontrado...</h3>
            <% } %>
            <p class="mt-2"><a href="/alunos" class="link-primary">Voltar</a></p>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>