<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title: "Relatório de alunos"}) %>

<body>
    <%- include('../partials/navBar') %>
    <h1>Relatório de alunos</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Curso</th>
                <th>Matrícula</th>
            </tr>
        </thead>
        <tbody>
            <% lista.forEach(aluno => { %>
                <tr>
                    <td><%= aluno.nome%></td>
                    <td><%= aluno.curso%></td>
                    <td><%= aluno.matricula%></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>