<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: "Relatório de passagiros" }) %>

<body>
  <%- include('../partials/navBar') %>
  <div class="container mt-3">
    <% if (listaPassageiros.length === 0) { %>
    <div class="alert alert-warning text-center" role="alert">
      Não há passageiros cadastrados. Para adicionar passageiros, <a href="/passageiros/cadastrar" class="alert-link">clique aqui</a>.
    </div>
    <% } else { %>
    <p class="text-center fs-3 my-3">Lista de passageiros</p>
    <div class="card">
      <div class="card-header">
        <i class="fa-solid fa-list"></i> Listagem de passageiros cadastrados
      </div>
      <div class="card-body px-0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">CPF</th>
              <th scope="col">Data de Nascimento</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <% listaPassageiros.forEach((passageiro) => { %>
            <td><%= passageiro.nome %></td>
            <td><%= passageiro.cpf %></td>
            <td><%=formatDate(passageiro.dataNascimento)%></td>
            <td>
              <a href="/passageiros/<%= passageiro._id%>" class="btn btn-outline-info px-2" data-bs-toggle="tooltip" title="Exibir detalhes do passageiro">
                <i class="fa-solid fa-eye"></i>
              </a>
            </td>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
    <% } %>
  </div>
</body>

</html>