<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: "Relatório de reservas" }) %>

<body class="d-flex flex-column min-vh-100">
  <%- include('../partials/navBar') %>
  <main class="flex-grow-1">
    <div class="container mt-3">
      <% if (listaReservas.length === 0) { %>
      <div class="alert alert-warning text-center" role="alert">
        Não há reservas cadastradas. Para adicionar reservas, <a href="/reservas/cadastrar" class="alert-link">clique aqui</a>.
      </div>
      <% } else { %>
      <p class="text-center fs-3 my-3">Lista de Reservas</p>
      <div class="card">
        <div class="card-header">
          <i class="fa-solid fa-list"></i> Listagem de reservas cadastradas
        </div>
        <div class="card-body px-0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Cód.</th>
                <th scope="col">Valor (R$)</th>
                <th scope="col">Passageiro</th>
                <th scope="col">Cód. do Voo</th>
                <th scope="col">Data da reserva</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <% listaReservas.forEach((reserva) => { %>
              <tr>
                <td><%= reserva.cod %></td>
                <td><%= reserva.valor %></td>
                <td><%= `${reserva.passageiro.nome}, ${reserva.passageiro.cpf}` %></td>
                <td><%= reserva.voo.cod %></td>
                <td> <%=formatDate(reserva.created_at)%> </td>
                <td>
                  <a href="/reservas/<%= reserva.cod%>" class="btn btn-outline-info mb-2" data-bs-toggle="tooltip" title="Exibir detalhes da reserva">
                    <i class="fa-solid fa-eye"></i>
                  </a>
                  <button type="button" class="btn btn-outline-danger mb-2" data-bs-toggle="modal" data-bs-toggle="tooltip" title="Excluir dados da Reserva" data-bs-target="#modalExclusao_<%= reserva.cod %>">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="modalExclusao_<%= reserva.cod %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalConfirmacaoExclusaoTitle" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="modalConfirmacaoExclusaoTitle">Confirmação de Exclusão</h1>
                        </div>
                        <div class="modal-body">
                          Tem certeza que deseja excluir a reserva de COD. <strong><%= reserva.cod %></strong>, do passageiro <strong> <%= reserva.passageiro.nome %> </strong>?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                          <a href="/reservas/delete/<%= reserva.cod %>" class="btn btn-primary">
                            Confirmar
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a href="/reservas/cadastrar/<%= reserva.cod%>" class="btn btn-outline-success mb-2" data-bs-toggle="tooltip" title="Editar dados da Reserva">
                    <i class="fa-solid fa-pencil"></i>
                  </a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <p class="my-1">
            <a href="/reservas/cadastrar" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
              <i class="fa-solid fa-plus"></i> Adicionar reserva
            </a>
          </p>
        </div>
      </div>
      <% } %>
      <%- include('../partials/toast') %>
    </div>
  </main>
  <%- include('../partials/footer') %>

  <script src="/js/reserva/reserva.js"></script>
  <script src="/js/toastManager.js"></script>
</body>

</html>