<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: "Relatório de voos" }) %>

<body>
  <%- include('../partials/navBar') %>
  <div class="container mt-3">
    <% if (listaVoos.length === 0) { %>
    <div class="alert alert-warning text-center" role="alert">
      Não há voos cadastrados. Para adicionar voos, <a href="/voos/cadastrar" class="alert-link">clique aqui</a>.
    </div>
    <% } else { %>
    <p class="text-center fs-3 my-3">Lista de voos</p>
    <div class="card">
      <div class="card-header">
        <i class="fa-solid fa-list"></i> Listagem de voos cadastrados
      </div>
      <div class="card-body px-0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Cód.</th>
              <th scope="col">Origem</th>
              <th scope="col">Destino</th>
              <th scope="col">Data</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <% listaVoos.forEach((voo) => { %>
            <tr>
              <td><%= voo.cod %></td>
              <td><%= `${voo.cidadeOrigem} - ${voo.estadoOrigem}, ${voo.paisOrigem}` %></td>
              <td><%= `${voo.cidadeDestino} - ${voo.estadoDestino}, ${voo.paisDestino}` %></td>
              <td> <%=formatDate(voo.data)%> </td>
              <td>
                <a href="/voos/<%= voo.cod%>" class="btn btn-outline-info mb-2" data-bs-toggle="tooltip" title="Exibir detalhes do voo">
                  <i class="fa-solid fa-eye"></i>
                </a>
                <button type="button" class="btn btn-outline-danger mb-2" data-bs-toggle="modal" data-bs-toggle="tooltip" title="Excluir dados do Voo" data-bs-target="#modalExclusao_<%= voo._id %>">
                  <i class="fa-solid fa-trash"></i>
                </button>
                <!-- Modal -->
                <div class="modal fade" id="modalExclusao_<%= voo._id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalConfirmacaoExclusaoTitle" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="modalConfirmacaoExclusaoTitle">Confirmação de Exclusão</h1>
                      </div>
                      <div class="modal-body">
                        Tem certeza que deseja excluir o voo <strong><%= voo.cidadeOrigem + " - " + voo.cidadeDestino%></strong>, de COD. <strong><%= voo.cod %></strong>?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" id="btnConfirmarDelecao" class="btn btn-primary" data-id-exclusao="<%= voo._id%>" onclick="excluirVoo(this)">
                          Confirmar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="/voos/cadastrar/<%= voo.cod%>" class="btn btn-outline-success mb-2" data-bs-toggle="tooltip" title="Editar dados do Voo">
                  <i class="fa-solid fa-pencil"></i>
                </a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <p class="my-1">
          <a href="/voos/cadastrar" class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            <i class="fa-solid fa-plus"></i> Adicionar voo
          </a>
        </p>
      </div>
    </div>
    <% } %>
    <div class="toast-container position-fixed top-0 end-0 p-3">
      <input type="hidden" id="status" value="<%= s %>">
      <div id="statusToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-success">
          <i class="fa-solid fa-square-check me-2"></i>
          <strong class="me-auto" id="toast-title"></strong>
          <small> <%= `${new Date().getHours().toString().padStart(2, "0")}:${new Date().getMinutes().toString().padStart(2, "0")}` %> </small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-body-content">

        </div>
      </div>
    </div>
  </div>

  <script src="/js/voo/voo.js"></script>
  <script src="/js/toastManager.js"></script>
</body>

</html>